{% extends 'base.html' %}

{% block content %}

<h1>Услуги автосервиса</h1>

<div style="display: flex; gap: 20px; flex-wrap: wrap;">

    {% for service in services %}
        <div style="border: 1px solid #ccc; padding: 15px; width: 250px;">

            {% if service.image %}
                <img src="{{ service.image.url }}" width="100%">
            {% endif %}

            <h3>{{ service.name }}</h3>

            <p>{{ service.description|truncatechars:100 }}</p>

            <p><b>{{ service.price }} ₽</b></p>

            <a href="{% url 'service_detail' service.id %}">
                Подробнее
            </a>
            <a href="{% url 'add_to_order' service.id %}">
                ➕ Добавить в заказ
            </a>

        </div>
    {% endfor %}

</div>

{% endblock %}